*.exe
*.csv
*.xls
*.xlsx
*.dunno
*.sublime-project
*.sublime-workspace
datacon
tools/ckandownloader/x*
node_modules/
bin/
pkg/
src/code.google.com/
src/github.com/
public/js/
public/css/
public/*.html
public/templates
public/lib/dependencies/js/
coverage.out
