*.exe
*.csv
*.xls
*.xlsx
*.dunno
*.sublime-project
*.sublime-workspace
datacon
tools/ckandownloader/x*
node_modules/
bin/
pkg/
src/code.google.com/
src/github.com/
public/js/
public/css/
public/*.html
public/templates
public/lib/dependencies/js/
coverage.out
src/dataplay/public/bookmarked.html
src/dataplay/public/charts.html
src/dataplay/public/dc-network.html
src/dataplay/public/home.html
src/dataplay/public/maps.html
src/dataplay/public/maptest.html
src/dataplay/public/overlay.html
src/dataplay/public/overview.html
src/dataplay/public/processing.html
src/dataplay/public/register.html
src/dataplay/public/search.html
src/dataplay/public/signin.html
stress/concurrent.sh
www-src/dataplay-ui/bower_components/
www-src/dataplay-ui/
