<div class="charts" ng-init="init()">
	<div class="row">
		<div class="col-md-6 chart-title"><h1>{{info.Title}}</h1></div>
		<div class="col-md-6 chart-info pull-right well well-sm"><h5 ng-bind-html="info.Notes"></h5></div>
	</div>

	<div class="row" ng-init="getCharts()">
		<div class="col-md-12" ng-switch="chart.type">
			<div
				id="chart"
				ng-switch-when="line"

				dc-chart="lineChart"

				dc-width="{{width}}"
				dc-height="{{height}}"
				dc-margins="{{margin}}"
				dc-mouse-zoomable="false"
				dc-brush-on="false"

				dc-elastic-y="true"
				dc-transition-duration="500"
				dc-colors="d3.scale.category20()"

				dc-x-axis-label="params.x"
				dc-y-axis-label="params.y"

				dc-render-data-points="true"
				dc-render-area="true"

				dc-post-setup-chart="lineChartPostSetup"
			></div>

			<div
				id="chart"
				ng-switch-when="bar"

				dc-chart="barChart"

				dc-width="{{width}}"
				dc-height="{{height}}"
				dc-margins="{{margin}}"
				dc-mouse-zoomable="false"
				dc-brush-on="false"

				dc-elastic-y="true"
				dc-transition-duration="500"
				dc-colors="d3.scale.category20()"

				dc-x-axis-label="params.x"
				dc-y-axis-label="params.y"

				dc-gap="20"

				dc-post-setup-chart="barChartPostSetup"
			></div>

			<!-- <div
				id="chart"
				ng-switch-when="row"

				dc-chart="rowChart"

				dc-width="{{width}}"
				dc-height="{{height}}"
				dc-margins="{{margin}}"
				dc-mouse-zoomable="false"
				dc-brush-on="false"

				dc-elastic-y="true"
				dc-transition-duration="500"
				dc-colors="d3.scale.category20()"
				dc-color-accessor="chart.colorAccessor"

				dc-elastic-x="true"
				dc-label-offset-y="chart.labelOffsetY"
				dc-label="chart.label"
				dc-gap="1"
				dc-tick-format="chart.tickFormat"
				dc-dimension="chart.entry.dimension"
				dc-group="chart.entry.group"
				dc-title="chart.title"
				dc-ticks="2"
			></div> -->

			<div
				id="chart"
				ng-switch-when="pie"

				dc-chart="pieChart"

				dc-width="{{width}}"
				dc-height="{{height}}"
				dc-margins="{{margin}}"
				dc-mouse-zoomable="false"
				dc-brush-on="false"

				dc-transition-duration="500"
				dc-colors="d3.scale.category20()"

				dc-post-setup-chart="pieChartPostSetup"
			></div>

			<div
				id="chart"
				ng-switch-when="bubble"

				dc-chart="bubbleOverlay"

				dc-width="{{width}}"
				dc-height="{{height}}"
				dc-margins="{{margin}}"
				dc-mouse-zoomable="false"
				dc-brush-on="false"

				dc-transition-duration="500"
				dc-colors="d3.scale.category20()"

				dc-post-setup-chart="bubbleChartPostSetup"
			></div>

			<div  ng-switch-default>Oops! nothing to plot.</div>
		</div>
	</div>
</div>
