<div class="charts" ng-init="init()">
	<div class="row">
		<div class="col-md-6 chart-title"><h1>{{chart.title}}</h1></div>
		<div class="col-md-6 chart-info pull-right well well-sm"><h5 ng-bind-html="chart.description"></h5></div>
	</div>

	<div class="row">
		<div class="col-md-12" ng-switch="chart.type">
			<span ng-include="'views/charts/line.html'"></span>
			<span ng-include="'views/charts/row.html'"></span>
			<span ng-include="'views/charts/column.html'"></span>
			<span ng-include="'views/charts/pie.html'"></span>
			<span ng-include="'views/charts/bubble.html'"></span>
		</div>
	</div>
</div>
