<div class="charts" ng-init="init()">
	<div class="row">
		<div class="col-md-6 chart-title"><h1>{{chart.title}}</h1></div>
		<div class="col-md-6 chart-info pull-right well well-sm"><h5 ng-bind-html="chart.description"></h5></div>
	</div>

	<div class="row">
		<div class="col-md-12" ng-switch="chart.type">
			<div class="chartSwitch"
				id="chart"
				ng-if="chart.type == 'line'"

				dc-chart="lineChart"

				dc-width="{{width}}"
				dc-height="{{height}}"
				dc-margins="{{margin}}"
				dc-mouse-zoomable="false"
				dc-brush-on="false"

				dc-elastic-y="true"
				dc-transition-duration="500"
				dc-colors="d3.scale.category20()"

				dc-x-axis-label="chart.xLabel"
				dc-y-axis-label="chart.yLabel"

				dc-render-data-points="true"
				dc-render-area="true"

				dc-post-setup-chart="lineChartPostSetup"
			></div>

			<div class="chartSwitch"
				id="chart"
				ng-if="chart.type == 'row' || chart.type == 'bar'"

				dc-chart="rowChart"

				dc-width="{{width}}"
				dc-height="{{height}}"
				dc-margins="{{margin}}"
				dc-mouse-zoomable="false"
				dc-brush-on="false"

				dc-elastic-x="true"
				dc-transition-duration="500"
				dc-colors="d3.scale.category20()"

				dc-x-axis-label="chart.xLabel"
				dc-y-axis-label="chart.yLabel"

				dc-post-setup-chart="rowChartPostSetup"
			></div>

			<div class="chartSwitch"
				id="chart"
				ng-if="chart.type == 'column'"

				dc-chart="barChart"

				dc-width="{{width}}"
				dc-height="{{height}}"
				dc-margins="{{margin}}"
				dc-mouse-zoomable="false"
				dc-brush-on="false"

				dc-elastic-y="true"
				dc-transition-duration="500"
				dc-colors="d3.scale.category20()"

				dc-x-axis-label="chart.xLabel"
				dc-y-axis-label="chart.yLabel"

				dc-post-setup-chart="columnChartPostSetup"
			></div>

			<div class="chartSwitch"
				id="chart"
				ng-if="chart.type == 'pie'"

				dc-chart="pieChart"

				dc-width="{{width}}"
				dc-height="{{height}}"
				dc-margins="{{margin}}"
				dc-mouse-zoomable="false"
				dc-brush-on="false"

				dc-transition-duration="500"
				dc-colors="d3.scale.category20()"

				dc-post-setup-chart="pieChartPostSetup"
			></div>

			<div class="chartSwitch"
				id="chart"
				ng-if="chart.type == 'bubble'"

				dc-chart="bubbleChart"

				dc-width="{{width}}"
				dc-height="{{height}}"
				dc-margins="{{margin}}"
				dc-brush-on="true"

				dc-transition-duration="500"
				dc-colors="d3.scale.category20()"

				dc-render-horizontal-grid-lines="true"
				dc-render-vertical-grid-lines="true"
				dc-render-label="true"
				dc-render-title="true"
				dc-zoom-out-restrict="true"
				dc-mouse-zoomable="true"

				dc-x-axis-label="chart.xLabel"
				dc-y-axis-label="chart.yLabel"

				dc-post-setup-chart="bubbleChartPostSetup"
			></div>
		</div>
	</div>
</div>
