<h1>Welcome back {{.Custom.username}}</h1>

<div>
	<p>You where last viewing:</p>
	<div class="visitedEntry">
		Gold Prices&nbsp;
		<a href="/charts/gold">View »</a>&nbsp;
		<a href="/overview/gold">Overview »</a>&nbsp;
	</div>

	<div class="visitedEntry">
		twitter&nbsp;
		<a href="/charts/tweets">View »</a>&nbsp;
		<a href="/overview/tweets">Overview »</a>&nbsp;
		<a href="/maptest/tweets">Map »</a>
	</div>

	<div class="visitedEntry">
		Spend over £25,000 in the Department for Education&nbsp;
		<a href="/charts/c7201ec18a7017a7b47a70dcdc7d4b1b994c2cf85522b1f7aefc2f47e7e">View »</a>&nbsp;
		<a href="/overview/c7201ec18a7017a7b47a70dcdc7d4b1b994c2cf85522b1f7aefc2f47e7e">Overview »</a>&nbsp;
	</div>

	<div class="visitedEntry">
		A test table&nbsp;
		<a href="/charts/test">View »</a>&nbsp;
		<a href="/overview/test">Overview »</a>&nbsp;
	</div>

	<div class="visitedEntry">
		UK GDP&nbsp;
		<a href="/charts/gdp">View »</a>&nbsp;
		<a href="/overview/gdp">Overview »</a>&nbsp;
	</div>
</div>

<div>
	<p>It looks pretty lonley here!</p>
	<p>Why don't you go and view some data that you are interseted in?</p>
</div>

<p>
	<a class="btn btn-lg btn-primary" href="/search" role="button">Search Data</a>
</p>
