<h1>Search</h1>

<form novalidate>
	<div class="form-group">
		<input class="form-control" type="search" placeholder="Enter your query here (e.g. gold)" ng-model="word" ng-change="search()">
	</div>
</form>

<div class="list-group" ng-show="results.length > 0">
	<div class="list-group-item row" ng-repeat="result in results">
		<span class="col-md-9">{{result.Title}}</span>
		<span class="col-md-3">
			<a class="btn btn-danger btn-xs" ng-href="/charts/{{result.GUID}}">Chart</a>
			<a class="btn btn-warning btn-xs" ng-href="/overview/{{result.GUID}}">Overview</a>
			<a class="btn btn-primary btn-xs" ng-href="/map/{{result.GUID}}" ng-show="result.LocationData">Map</a>
		</span>
	</div>
</div>
