<h1>Search</h1>
<input class="form-control" type="text" placeholder="Enter your query here">

<div class="list-group">
	<div class="list-group-item row">
		<span class="col-md-9">Cras justo odio</span>
		<span class="col-md-3">
			<a class="btn btn-danger btn-xs" href="/charts/0573f7615051dd02af35e42232a7f3e04953c5747bad2410787560c2c1d">Chart</a>
			<a class="btn btn-warning btn-xs" href="/overview/0573f7615051dd02af35e42232a7f3e04953c5747bad2410787560c2c1d">Overview</a>
			<a class="btn btn-primary btn-xs" href="#">Map</a>
		</span>
	</div>
	<div class="list-group-item row">
		<span class="col-md-9">Dapibus ac facilisis in</span>
		<span class="col-md-3">
			<a class="btn btn-danger btn-xs" href="/charts/0573f7615051dd02af35e42232a7f3e04953c5747bad2410787560c2c1d">Chart</a>
			<a class="btn btn-warning btn-xs" href="/overview/0573f7615051dd02af35e42232a7f3e04953c5747bad2410787560c2c1d">Overview</a>
		</span>
	</div>
	<div class="list-group-item row">
		<span class="col-md-9">Morbi leo risus</span>
		<span class="col-md-3">
			<a class="btn btn-danger btn-xs" href="/charts/0573f7615051dd02af35e42232a7f3e04953c5747bad2410787560c2c1d">Chart</a>
			<a class="btn btn-warning btn-xs" href="/overview/0573f7615051dd02af35e42232a7f3e04953c5747bad2410787560c2c1d">Overview</a>
		</span>
	</div>
	<div class="list-group-item row">
		<span class="col-md-9">Porta ac consectetur ac</span>
		<span class="col-md-3">
			<a class="btn btn-danger btn-xs" href="/charts/0573f7615051dd02af35e42232a7f3e04953c5747bad2410787560c2c1d">Chart</a>
			<a class="btn btn-warning btn-xs" href="/overview/0573f7615051dd02af35e42232a7f3e04953c5747bad2410787560c2c1d">Overview</a>
			<a class="btn btn-primary btn-xs" href="#">Map</a>
		</span>
	</div>
	<div class="list-group-item row">
		<span class="col-md-9">Vestibulum at eros</span>
		<span class="col-md-3">
			<a class="btn btn-danger btn-xs" href="/charts/0573f7615051dd02af35e42232a7f3e04953c5747bad2410787560c2c1d">Chart</a>
			<a class="btn btn-warning btn-xs" href="/overview/0573f7615051dd02af35e42232a7f3e04953c5747bad2410787560c2c1d">Overview</a>
			<a class="btn btn-primary btn-xs" href="#">Map</a>
		</span>
	</div>
</div>
