<div class="navbar" id="dc-navbar">
    <ul class="navbar-items">
        <li class="navbar-item">
            <a href="/" alt="Home" title='Home' class="navbar-home">DataCon</a>
        </li>
        <li class="navbar-item">
            <a href="/search" title='Search' class="navbar-link">
                <img src="/img/icons/search-{{.Custom.search}}.png" alt="Search">
            </a>
        </li>
        <li class="navbar-item">
            <a href="/charts" title='Chart' class="navbar-link">
                <img src="/img/icons/chart-{{.Custom.chart}}.png" alt="Chart">
            </a>
        </li>
        <li class="navbar-item">
            <a href="/network" title='Network' class="navbar-link">
                <img src="/img/icons/network-{{.Custom.network}}.png" alt="Network">
            </a>
        </li>
        <li class="navbar-item">
            <a href="/map" title='Map' class="navbar-link">
                <img src="/img/icons/map-{{.Custom.map}}.png" alt="Map">
            </a>
        </li>
    </ul>
</div>