<div class="navbar" id="dc-navbar">
    <ul class="navbar-items">
        <li class="navbar-item active">
            <img src="/img/icons/search.png" alt="Search" title='Search' class="navbar-icon">
        </li>
        <li class="navbar-item">
            <img src="/img/icons/chart.png" alt="Chart" title='Chart' class="navbar-icon">
        </li>
        <li class="navbar-item">
            <img src="/img/icons/tree.png" alt="Network" title='Network' class="navbar-icon">
        </li>
        <li class="navbar-item">
            <img src="/img/icons/marker.png" alt="Map" title='Map' class="navbar-icon">
        </li>
    </ul>
</div>