<script src="/requirejs/require.js"></script>    
<script>
	requirejs.config({
		baseUrl: "/",
		paths: {
			jquery: "jquery/dist/jquery.min",
			bootstrap: "twitter-bootstrap-3.0.0/dist/js/bootstrap.min",
			underscore: "underscore/underscore-min",
			backbone: "backbone/backbone-min",
			crossfilter: "crossfilter/crossfilter.min",
			d3: "d3/d3",
			dc: "dc/dc.min",
			leaflet: "leaflet/dist/leaflet",
			leafletMarkercluster: "leaflet.markercluster/dist/leaflet.markercluster",
			leafletProviders: "leaflet-providers/leaflet-providers",
			leafletSearch: "leaflet-search/dist/leaflet-search.min",
			OpenLayers: "lib/dependencies/js/openlayers",
			app: "js"
		},
		shim: {
			'bootstrap': {
				deps: ['jquery']
			},
			'backbone': {
				deps: ['jquery', 'underscore'],
				exports: 'Backbone'
			},
			'underscore': {
				exports: '_'
			},
			'd3': {
				exports: 'd3'
			},
			'crossfilter': {
				exports: 'crossfilter'
			},
			'dc': {
				deps: ['crossfilter', 'd3'],
				exports: 'dc'
			},
			'leafletMarkercluster': {
				deps: ['leaflet']
			},
			'leafletProviders': {
				deps: ['leaflet']
			},
			'leafletSearch': {
				deps: ['leaflet']
			},
			'OpenLayers': {
				exports: 'OpenLayers'
			}
		}
	});
	requirejs(['bootstrap']);
</script>