<div class="col-md-4" ng-repeat="chart in chartsRelated" id="{{chart.id}}" ng-show="hasRelatedCharts() > 0">
	<a class="related" href="{{chart.url}}">
		<span ng-include="'views/charts/related/line.html'"></span>
		<span ng-include="'views/charts/related/row.html'"></span>
		<span ng-include="'views/charts/related/column.html'"></span>
		<span ng-include="'views/charts/related/pie.html'"></span>
		<span ng-include="'views/charts/related/bubble.html'"></span>
	</a>

	<div class="chartSwitch" ng-if="!isPlotAllowed(chart.type)">
		<div class="well text-center">Oops! nothing to plot.</div>
	</div>
</div>

<div class="col-md-12" ng-show="loading.related" ng-include="'views/loader.html'"></div>

<div class="col-md-12" ng-show="!loading.related && hasRelatedCharts() <= 0">
	<div class="jumbotron">
		<p class="text-center">Sorry we are unable to generate any Related data for given set.</p>
	</div>
</div>

<div class="col-md-12">
	<a id="getRelated" href="#" class="btn btn-default btn-block" ng-click="getRelated()" ng-hide="limit.related || loading.related || hasRelatedCharts() <= 0">Show more ({{max.related - offset.related}}) <span class="caret"></span></a>
</div>
