<!DOCTYPE html>
<html lang="en">
<head>
  {{.Header}}
  <link href="/css/charts.css" rel="stylesheet">
</head>
<body>
  {{.Navbar}}
  <div class="jumbotron">
    <div class="container">
      <h2>Viewing Dataset <font id="FillInDataSet">...</font></h2>
      <div id='data-container' class="row">
        <!-- Chart -->
        <div id="chart" class="col-md-9">
          <h2>Loading Chart ...</h2>
          <p>Hold on.</p>
        </div>
        <!-- Wikidata -->
        <div id='wikidata' class="col-md-3">
          <h2>Loading data ...</h2>
          <p>Hold on.</p>
        </div>
      </div>

      <div id='modes' class="btn-group row"></div>

      <div id='chartTypes' class="btn-group row">
        <a class="btn btn-lg btn-warning chartSelector" chart='area' href="javascript:void(0)" role="button">Area Chart</a>
        <a class="btn btn-lg btn-warning chartSelector" chart='line' href="javascript:void(0)" role="button">Line Chart</a>
        <a class="btn btn-lg btn-warning chartSelector" chart='bubbles' href="javascript:void(0)" role="button">Bubbles Chart</a>
        <a class="btn btn-lg btn-warning chartSelector" chart='bars' href="javascript:void(0)" role="button">Bars Chart</a>
        <a class="btn btn-lg btn-warning chartSelector" chart='pie' href="javascript:void(0)" role="button">Pie Chart</a>
        <a class="btn btn-lg btn-warning chartSelector" chart='enclosure' href="javascript:void(0)" role="button">Enclosure Chart</a>
        <a class="btn btn-lg btn-warning chartSelector" chart='tree' href="javascript:void(0)" role="button">Tree Chart</a>
        <a class="btn btn-lg btn-warning chartSelector" chart='treemap' ref="javascript:void(0)" role="button">Treemap Chart</a>
        <a class="btn btn-lg btn-warning chartSelector" chart='forcedirected' ref="javascript:void(0)" role="button">Force Directed Chart</a>
      </div>
      
      <div class="row">
        <div id="selectors" class='col-xs-6'></div>
        <div id="controls" class="col-xs-6"></div>
      </div>

    </div> <!-- /container -->     
  </div> <!-- /jumbotron -->

  {{.Footer}}

  <script type="text/html" id="selectorTemplate">
    <div class="row">
      <%= data.type %>:
      <select class="<%= data.type %>">
        <option value=0></option>
        <% for (var item in data.keys) { %>
          <option value="<%= data.keys[item] %>"><%= data.keys[item] %></option>
        <% } %>
      </select>
    </div>
  </script>

  <script type="text/html" id="defaultSelectorTemplate">
    <div class="row">
      Override X Axis:
      <select id="pickxaxis">
        <option>Loading...</option>
      </select>
    </div>
    <div class="row">
      Override Y Axis:
      <select id="pickyaxis">
        <option>Loading...</option>
      </select>
    </div>
    <div class="row">
        <a class="btn btn-lg btn-primary" href="#" id="SetupOverlay" role="button">Overlay data &raquo;</a>
    </div>
  </script>

  <script type="text/html" id="pointDataTemplate">
    <% 
       !data.title && (data.title='');
       !data.text && (data.text='');
       console.log(data);
    %>
    <h4>Info</h4>
    <div class='pointInfo'>
        <input type='text' class='pointInfoTitleInput form-control' placeholder='Title' value="<%= data.title %>">
        <textarea type='text' class='pointInfoTextInput form-control' placeholder='Text' value="<%= data.text %>">
          <%= data.text %>
        </textarea>
      <div class="btn-group">
        <button class='pointSave btn btn-success'>Save</button>
        <button class='pointRemove btn btn-danger'>Remove</button>
        <button class='pointCancel btn btn-info'>Cancel</button>
      </div>
    </div>
  </script>
  
  <script>
    requirejs(['app/charts']);
  </script>      
</body>
</html>
