.overview {
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		display: inline-block;
	}

	.reset {
		margin-top: 20px;
	}

	.chartSwitch {
		.well {
			height: 200px;
			min-height: 200px;
			max-height: 200px;
			line-height: 161px; // height - margin - padding
		}
	}
}

.overview, .charts {
	.chart-info {
		margin-top: 20px;
	}

	.dc-chart {
		.pie-slice {
			fill: #000000
		}
	// 	g.axis text {
	// 		// fill: #ffffff
	// 	}
	// 	.axis path, .axis line {
	// 		// stroke: #ffffff
	// 	}
	// 	.x-axis-label, .y-axis-label {
	// 		// fill: #ffffff
	// 	}
	// 	.dc-legend {
	// 		// fill: #ffffff;
	// 	}
	}
}

.charts {
	.constrict-graphs {
		.dc-chart {
			width: 100%;

			svg {
				width: 100%;
			}

			&.line {
				g.x {
					// display: none
				}
				circle.dot {
					cursor: pointer;
					cursor: hand;
				}
			}

			&.range g.y {
				display: none;
			}
		}
	}

	.breadcrumb, .action-bar {
		margin-bottom: 10.5px;

	}

	.fixed {
		overflow: hidden;
	}

	.info {
		.action-bar {
			text-align: center;
			button {
				margin-bottom: 2px;
			}
		}

		.ci-row {
			margin-left: 0;
			margin-right: 0;

			border-bottom: 1px solid #E9E9E9;
			padding: 5px 0;

			.ci-key {
				color: #858585
			}

			.ci-val {
				color: #464646;

				.csl:not(:last-child):after { // comma seperated list
					content: ", ";
				}
			}

		}
	}

	.breadcrumb, .observations .title {
		border-radius: 0;
		-webkit-border-bottom-right-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius-bottomright: 4px;
		-moz-border-radius-bottomleft: 4px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	.observations .title {
		font-weight: 600;
		color: white;
	}

	.glyphicon {
		margin-right: 4.5px;
	}

	.observations {
		position: absolute;
		top: 0;
		right: 0;
		background-color: #F8FAFC;
		padding: 0;

		-webkit-border-bottom-right-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius-bottomright: 4px;
		-moz-border-radius-bottomleft: 4px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;

		.title {
			padding: 8px 15px;
			margin-bottom: 12px;
			background-color: #A0B6CB;
			color: #fffff;
		}

		.media {
			margin-top: 0;

			.pull-left {
				margin-right: 0;
			}
		}

		.content {
			margin-bottom: 8px;

			.media-heading {
				span {
					font-size: 0.6em;
					margin: 0 5px;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}

			.left {
				text-align: center;
				color: #C6C6C6;


				img.media-object {
					width: 32px;
					margin-bottom: 2px;
				}

				.votes {
					text-align: center;
					max-width: 32px;
					text-decoration: none;

					> * {
						display: block;
					}

					i.glyphicon {
						cursor: pointer;
						margin-right: 0;
					}
				}
			}

			.media-body {
				padding-left: 5px;
				font-size: 12px;
			}
		}
	}
}

.modal-content {
	padding: 0 10px 10px;

	.comment-modal-buttons {
		margin: 5px 0 0 0;
		text-align: right;

		button {
			outline: none;
		}
	}
}
