.overview {
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		display: inline-block;
	}

	.reset {
		margin-top: 20px;
	}

	.chartSwitch {
		.well {
			height: 200px;
			min-height: 200px;
			max-height: 200px;
			line-height: 161px; // height - margin - padding
		}
	}
}

.overview, .charts {
	.chart-info {
		margin-top: 20px;
	}

	.dc-chart {
		.pie-slice {
			fill: #000000
		}
	// 	g.axis text {
	// 		// fill: #ffffff
	// 	}
	// 	.axis path, .axis line {
	// 		// stroke: #ffffff
	// 	}
	// 	.x-axis-label, .y-axis-label {
	// 		// fill: #ffffff
	// 	}
	// 	.dc-legend {
	// 		// fill: #ffffff;
	// 	}
	}
}

.charts {
	.dc-chart {
		&.line g.x {
			// display: none
		}
		&.range g.y {
			display: none
		}
	}
}
