.label-purple {
	background-color: #CAA8D9;
}

.overviewscreen-section {
	padding: 0 5px;
	vertical-align: middle;

	.overviewscreen-list {
		margin: 0;

		svg {
			width: 100%;
		}
	}

	.overviewscreen-li {
		margin: 0;
		vertical-align: middle;
		border-top: 1px solid rgba(0, 0, 0, 0.15);
	}

	.overviewscreen-sect-header {
		font-weight: bold;
	}

	.overviewscreen-sect-graph {
		height: 150px;
	}

	.dc-chart.pie {
		float: none;
		text-align: center;
	}

}

.overviewscreen-sb {
	.item {
		margin: 0;
	}
}
