<div class="row" id="profileDetails">
	<div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
		<div class="row">
			<div class="col-xs-5 col-md-6 text-right">
				<a href="http://en.gravatar.com/" title="Change your avatar at Gravatar.com"><img class="avatar" ng-src="{{current.avatar}}" /></a>
			</div>
			<div class="col-xs-7 col-md-6 text-left">
				<h4>{{current.username}}</h4>
				<h4>{{current.email}}</h4>
			</div>
		</div>
	</div>
</div>

<form name="profileForm" class="form-profile" role="form" novalidate>
	<ul class="nav nav-tabs" role="tablist">
		<li ng-class="{true: 'active', false: ''}[currentTab == 'profile']" ng-if="!params.user">
			<a data-toggle="tab" href="/user/profile">Personal Details</a>
		</li>
		<li ng-class="{true: 'active', false: ''}[currentTab == 'approveddiscoveries']">
			<a data-toggle="tab" href="/user/approveddiscoveries" ng-if="!params.user">Approved Discoveries</a>
			<a data-toggle="tab" href="/profile/{{params.user}}/approveddiscoveries" ng-if="params.user">Approved Discoveries</a>
		</li>
		<li ng-class="{true: 'active', false: ''}[currentTab == 'discoveries']">
			<a data-toggle="tab" href="/user/discoveries" ng-if="!params.user">Discoveries</a>
			<a data-toggle="tab" href="/profile/{{params.user}}/discoveries" ng-if="params.user">Discoveries</a>
		</li>
		<li ng-class="{true: 'active', false: ''}[currentTab == 'observations']">
			<a data-toggle="tab" href="/user/observations" ng-if="!params.user">Observations</a>
			<a data-toggle="tab" href="/profile/{{params.user}}/observations" ng-if="params.user">Observations</a>
		</li>
	</ul>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div ng-show="hasError()" class="alert alert-warning">
				<h4>There seems to be a problem...</h4>
				<p>{{error.message}}</p>
			</div>
		</div>
	</div>

	<div class="tab-content">
		<div ng-class="{true: 'tab-pane fade active in', false: 'tab-pane fade'}[currentTab == 'profile']" ng-if="!params.user" id="profile">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div ng-show="!hasError() && saved.success" class="alert alert-dismissable alert-success">
						<button type="button" class="close" ng-click="closeAlert()">×</button>
						Your profile profile have been updated successfully.
					</div>

					<div class="form-group" ng-class="{'has-error': profileForm.email.$invalid && !profileForm.email.$pristine}">
						<p>Email Address</p>
						<input class="form-control" name="email" type="email" ng-required="true" ng-model="current.email" autocomplete="off" />
						<p data-ng-show="profileForm.email.$error.required && !profileForm.email.$pristine" class="help-block">Required</p>
						<p data-ng-show="profileForm.email.$error.email && !profileForm.email.$pristine" class="help-block">Not a valid email!</p>
					</div>
					<div class="form-group" ng-class="{'has-error': profileForm.username.$invalid && !profileForm.username.$pristine}">
						<p
						>Username</p>
						<input class="form-control" name="username" type="username" ng-required="true" ng-model="current.username" autocomplete="off" ng-pattern="/^([A-Za-z0-9]{3,20})$/" />
						<p data-ng-show="profileForm.username.$error.required && !profileForm.username.$pristine" class="help-block">Required</p>
						<p data-ng-show="profileForm.username.$error.pattern && !profileForm.username.$pristine" class="help-block">Not a valid username!</p>
					</div>
					<div class="form-group text-center">
						<button class="btn btn-default" value="Revert Changes" title="Revert Changes" ng-click="clearDetails()"><span>Revert Changes</span></button>
						<button class="btn btn-primary" value="Save Changes" title="Save Changes" ng-disabled="!profileForm.$valid" ng-click="submitDetails()"><span>Save Changes</span></button>
					</div>
				</div>
			</div>
		</div>

		<div ng-class="{true: 'tab-pane fade active in', false: 'tab-pane fade'}[currentTab == 'approveddiscoveries']" id="approveddiscoveries">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-xs-12">
							<p class="text-center"><span ng-if="isLoggedInUser">My </span><span ng-if="!isLoggedInUser && current.username">{{current.username}}'s </span>Approved Discoveries</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0" ng-repeat="disc in approvedDiscoveries">
							<div class="circular-icon"><i class="glyphicon glyphicon-flag"></i></div>
							<p class="profile-li">
								<a href="/{{disc.apistring}}">{{disc.title | truncate: truncate}}</a>
							</p>
						</div>
					</div>
					<div ng-if="!loading.approveddiscoveries && approvedDiscoveries.length < 1">Nothing to show</div>
					<div ng-if="loading.approveddiscoveries" class="loader-tight loader-faded" ng-include="'views/loader.html'"></div>
				</div>
			</div>
		</div>

		<div ng-class="{true: 'tab-pane fade active in', false: 'tab-pane fade'}[currentTab == 'discoveries']" id="discoveries">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-xs-12">
							<p class="text-center"><span ng-if="isLoggedInUser">My </span><span ng-if="!isLoggedInUser && current.username">{{current.username}}'s </span>Discoveries</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0" ng-repeat="disc in discoveries">
							<div class="circular-icon"><i class="glyphicon glyphicon-flag"></i></div>
							<p class="profile-li">
								<a href="/{{disc.apistring}}">{{disc.title | truncate: truncate}}</a>
							</p>
						</div>
					</div>
					<div ng-if="!loading.discoveries && discoveries.length < 1">Nothing to show</div>
					<div ng-if="loading.discoveries" class="loader-tight loader-faded" ng-include="'views/loader.html'"></div>
				</div>
			</div>
		</div>

		<div ng-class="{true: 'tab-pane fade active in', false: 'tab-pane fade'}[currentTab == 'observations']" id="observations">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-xs-12">
							<p class="text-center"><span ng-if="isLoggedInUser">My </span><span ng-if="!isLoggedInUser && current.username">{{current.username}}'s </span>Observations</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0" ng-repeat="obsv in observations">
							<div class="circular-icon"><i class="glyphicon glyphicon-flag"></i></div>
							<p class="profile-li">
								<a href="/{{obsv.apistring}}">{{obsv.charttitle | truncate: truncate}}</a><br/>
								<span class="text-muted">{{obsv.comment | truncate: truncate}}</span>
							</p>
						</div>
					</div>
					<div ng-if="!loading.observations && observations.length < 1">Nothing to show</div>
					<div ng-if="loading.observations" class="loader-tight loader-faded" ng-include="'views/loader.html'"></div>
				</div>
			</div>
		</div>
	</div>
</form>

<div ng-show="forgotPassword.sent">
	<h3>Please check your email</h3>
	We've sent you an email that will allow you to reset your password quickly and easily.

	<a href="/user/resetpassword/{{user.login.token}}">Link</a>
</div>
