#landingpage {
	background-image: url('../images/map.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	text-align: center;

	#main {
		[class*="col-"] {
			padding: 20px 0 5px 0;
		}

		p {
			margin-bottom: 2px;
		}

		#stats {
			min-height: 70px;
			margin-top: 10px;
			margin-bottom: 10px;

			& > div {
				height: 70px;
				font-size: 20px;
				line-height: 35px;
				padding: 0;
			}

			.spinner {
				margin: 10px auto;
			}
		}
	}


	#graphs {
		min-height: 275px;
	}

	#affiliates {
		img {
			background-color: white;
		}
	}

}
