<div class="sidebar">
	<div class="title">Overview</div>

	<div class="content">
		<div class="media" ng-repeat="item in overview">
			<div class="row">
				<span class="text-muted"><small>{{item.date}}</small></span>
				<span class="pull-right collapsebtn" ng-if="item.show !== false" ng-click="collapse(item)"><small><i class="glyphicon glyphicon-minus-sign"></i></small></span>
				<span class="pull-right collapsebtn" ng-if="item.show === false" ng-click="uncollapse(item)"><small><i class="glyphicon glyphicon-plus-sign"></i></small></span>
			</div>

			<div class="row">
				<div class="media-body">
					<h5 class="media-heading"><a href="{{item.url}}" target="_blank">{{item.title}}</a></h5>
					<a ng-if="item.show !== false" href="{{item.url}}" target="_blank"><img class="thumbnail" ng-src="{{item.thumbnail}}" /></a>
				</div>
			</div>
		</div>
	</div>

	<div class="loader-tight loader-faded" ng-if="loading.overview" ng-include="'views/loader.html'"></div>

	<div class="nothing" ng-if="!loading.overview && overview.length <= 0 && isSearch">
		<p class="text-center text-muted">There are no news results for this.</p>
	</div>
</div>
