<div class="col-xs-12 dp-tweets" ng-if="loading.tweets || tweets.length > 0">
	<div class="title">Tweets</div>

	<div class="row" ng-repeat="tweet in tweets | limitTo: 10">
		<p class="tweet-header">
			<a ng-href="{{tweet.url}}" class="no-underline" target="_blank">
				<i class="fa fa-twitter twitter-blue"></i>
			</a>
			<span>
				<span class="tweet-author">{{tweet.name}}</span> (<a ng-href="https://twitter.com/{{tweet.username}}" target="_blank">@{{tweet.username}}</a>)&nbsp;
				<a ng-href="{{tweet.url}}" class="pull-right" target="_blank">
					<small><i class="fa fa-external-link"></i> View on Twitter</small>
				</a>
			</span>
			<div class="tweet-text" ng-bind-html="tweet.comment"></div>
		</p>
	</div>

	<div class="row">
		<div class="col-md-12 loader-tight" ng-if="loading.tweets" ng-include="'views/loader.html'"></div>
	</div>
</div>

<div class="row jumbotron" ng-if="!loading.tweets && tweets.length <= 0">
	<p class="text-center">Sorry we are unable to find any tweet for given keyword(s).</p>
</div>
