<div class="admin admin-users" ng-init="init()">
	<table class="table table-bordered table-hover table-striped">
		<tr>
			<th>#</th>
			<th>Avatar</th>
			<th>Username</th>
			<th>Reputation</th>
			<th>Admin?</th>
			<th></th>
		</tr>
		<tr ng-repeat="user in users">
			<td>{{user.id}}</td>
			<td class="text-center"><img class="avatar" ng-src="{{user.avatar}}"/></td>
			<td>{{user.username}}</td>
			<td>
				<div class="text-center gold bold">
					<i class="glyphicon glyphicon-star"></i>
					<span>{{user.reputation}}</span>
				</div>
			</td>
			<td class="text-center">
				<i class="fa fa-2x fa-check" ng-if="user.usertype == 1"></i>
			</td>
			<td class="minimum-width text-right">
				<div class="btn-group">
					<button type="button" class="btn btn-sm btn-primary" ng-click="view(user)">&nbsp;<i class="fa fa-search"></i>&nbsp;</button>
					<button type="button" class="btn btn-sm btn-info" ng-click="edit(user)">&nbsp;<i class="fa fa-pencil"></i>&nbsp;</button>
					<button type="button" class="btn btn-sm btn-danger" ng-click="disable(user)">&nbsp;<i class="fa fa-times"></i>&nbsp;</button>
				</div>
			</td>
		</tr>
</table>
</div>
