<div class="admin admin-users" ng-init="init()">
	<h2>Administrate Users</h2>
	<table class="table table-bordered table-hover table-striped">
		<tr>
			<th>#</th>
			<th>Avatar</th>
			<th>Username</th>
			<th>Email Address</th>
			<th>Reputation</th>
			<th>Admin?</th>
			<th></th>
		</tr>
		<tr ng-if="users.length === 0"><td colspan="7" ng-include="'../views/loader.html'"></td></tr>
		<tr ng-repeat="user in users | limitTo: pagination.perPage">
			<td>{{user.uid}}</td>
			<td class="text-center">
				<img class="avatar" ng-if="user.avatar !== ''" ng-src="{{user.avatar}}"/>
				<img class="avatar" ng-if="user.avatar == ''" ng-src="http://www.gravatar.com/avatar/{{user.md5email}}?d=identicon" />
			</td>
			<td>{{user.username}}</td>
			<td>{{user.email}}</td>
			<td>
				<div class="text-center gold bold">
					<i class="glyphicon glyphicon-star"></i>
					<span>{{user.reputation}}</span>
				</div>
			</td>
			<td class="text-center">
				<i class="fa fa-2x fa-check check" title="This user is an administrator" ng-if="user.usertype == 1"></i>
				<i class="fa fa-2x fa-times times" title="This user is not an administrator" ng-if="user.usertype !== 1"></i>
			</td>
			<td class="userControls text-right">
				<div class="btn-group">
					<button type="button" class="btn btn-sm btn-primary" ng-click="showModal('view', user)" title="View"><i class="fa fa-search"></i></button>
					<button type="button" class="btn btn-sm btn-info" ng-click="showModal('edit', user)" title="Edit"><i class="fa fa-pencil"></i></button>
					<button type="button" class="btn btn-sm btn-danger" ng-click="showModal('disable', user)" ng-if="user.enabled" title="Disable"><i class="fa fa-times"></i></button>
					<button type="button" class="btn btn-sm btn-success" ng-click="showModal('disable', user)" ng-if="!user.enabled" title="Enable"><i class="fa fa-check"></i></button>
				</div>
			</td>
		</tr>
	</table>

	<div class="text-center">
		<ul class="pagination pagination-sm pagination-plain">
			<li ng-class="{disabled: pagination.pageNumber == 1}"><a href="#" ng-click="changePage(-1, true)">&laquo;</a></li>
			<li ng-repeat="i in range(pagination.total)" ng-class="{active: i == pagination.pageNumber}"><a href="#" ng-click="changePage(i)">{{i}}</a></li>
			<li ng-class="{disabled: pagination.pageNumber == totalPages(pagination.total)}"><a href="#" ng-click="changePage(1, true)">&raquo;</a></li>
		</ul>
	</div>

	<div id="admin-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="text-center">
					<ul class="pagination pagination-xs pagination-plain">
						<li ng-class="{active: modal.content.type == 'view'}"><a href="#" ng-click="modal.content.type = 'view'"><i class="fa fa-search"></i> View</a></li>
						<li ng-class="{active: modal.content.type == 'edit'}"><a href="#" ng-click="modal.content.type = 'edit'"><i class="fa fa-pencil"></i> Edit</a></li>
						<li ng-class="{active: modal.content.type == 'disable'}" ng-if="modal.content.item.enabled"><a href="#" ng-click="modal.content.type = 'disable'"><i class="fa fa-times"></i> Disable</a></li>
						<li ng-class="{active: modal.content.type == 'disable'}" ng-if="!modal.content.item.enabled"><a href="#" ng-click="modal.content.type = 'disable'"><i class="fa fa-check"></i> Enable</a></li>
					</ul>
				</div>
				<div ng-if="modal.content.type == 'view' || modal.content.type == 'edit'">
					<form name="editForm" role="form" ng-submit="submitForm()">
						<div class="text-center">
							<img class="avatar-150 inline" ng-if="modal.content.item.avatar !== ''" ng-src="{{modal.content.item.avatar}}"/>
							<img class="avatar-150 inline" ng-if="modal.content.item.avatar == ''" ng-src="http://www.gravatar.com/avatar/{{modal.content.item.md5email}}?d=identicon" src="http://www.gravatar.com/avatar/{{modal.content.item.md5email}}?d=identicon" />
							<div class="inline" ng-if="modal.content.type == 'edit' && false">
								<button class="btn btn-danger btn-xs">Remove</button>
							</div>
						</div>
						<table class="table table-bordered table-hover table-striped">
							<tr>
								<th class="col-xs-4">#</th>
								<td class="col-xs-8">{{modal.content.item.uid}}</td>
							</tr>
							<tr>
								<th>Username</th>
								<td ng-if="modal.content.type == 'view'">{{modal.content.item.username}}</td>
								<td ng-if="modal.content.type == 'edit'"><input type="text" class="form-control input-sm" ng-model="modal.content.item.username" ng-pattern="/^([A-Za-z0-9]{3,})$/" ng-required="true"></input></td>
							</tr>
							<tr>
								<th>Email Address</th>
								<td ng-if="modal.content.type == 'view'">{{modal.content.item.email}}</td>
								<td ng-if="modal.content.type == 'edit'"><input type="text" class="form-control input-sm" ng-model="modal.content.item.email" ng-pattern="/^\S+@\S+\.\S+$/" ng-required="true"></input></td>
							</tr>
							<tr>
								<th>Reputation</th>
								<td ng-if="modal.content.type == 'view'">
									<div class="reputation">
										<i class="glyphicon glyphicon-star"></i>
										<span>{{modal.content.item.reputation}}</span>
									</div>
								</td>
								<td ng-if="modal.content.type == 'edit'">
									<div class="reputation">
										<i class="glyphicon glyphicon-star"></i>
										<input type="number" class="form-control input-sm" ng-model="modal.content.item.reputation" ng-min="0" ng-required="true"></input>
									</div>
								</td>
							</tr>
							<tr>
								<th>Admin?</th>
								<td ng-if="modal.content.type == 'view'">
									<i class="fa fa-lg fa-check check" title="This user is an administrator" ng-if="modal.content.item.usertype"></i>
									<i class="fa fa-lg fa-times times" title="This user is not an administrator" ng-if="!modal.content.item.usertype"></i>
								</td>
								<td ng-if="modal.content.type == 'edit'">
									<input type="checkbox" ng-model="modal.content.item.usertype">
								</td>
							</tr>
							<tr ng-if="modal.content.type == 'edit'">
								<th>Reset Password</th>
								<td>
									<input type="text" id="password-field" class="form-control input-sm" ng-model="modal.content.item.password" ng-required="false"></input>
									<button type="button" id="password-random" class="btn btn-default btn-sm" ng-click="generateRandom()" ><i class="fa fa-reorder"></i> Random</button>
								</td>
							</tr>

						</table>
						<div class="text-center">
							<button type="button" class="btn btn-primary text-center" ng-click="edit()" ng-if="modal.content.type == 'edit'" ng-disabled="!editForm.$valid"><i class="fa fa-save"></i> Save</button>
							<button type="button" class="btn btn-default text-center" ng-click="closeModal()">Close</button>
						</div>
					</form>
				</div>
				<div ng-if="modal.content.type == 'disable'">
					<p ng-if="modal.content.item.enabled">Are you sure you want to disable this user?</p>
					<p ng-if="!modal.content.item.enabled">Are you sure you want to enable this user?</p>
					<div class="text-center">
						<button type="button" class="btn btn-danger text-center" ng-if="modal.content.item.enabled" ng-click="disable(false)"><i class="fa fa-times"></i> Disable</button>
						<button type="button" class="btn btn-success text-center" ng-if="!modal.content.item.enabled" ng-click="disable(true)"><i class="fa fa-check"></i> Enable</button>
						<button type="button" class="btn btn-default text-center" ng-click="closeModal()">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
