<div class="admin admin-users" ng-init="init()">
	<h2>Administrate Users</h2>
	<table class="table table-bordered table-hover table-striped">
		<tr>
			<th>#</th>
			<th>Avatar</th>
			<th>Username</th>
			<th>Reputation</th>
			<th>Admin?</th>
			<th></th>
		</tr>
		<tr ng-repeat="user in users | limitTo: (10 * pagination.pageNumber) > users.length ? users.length : (10 * pagination.pageNumber) | limitTo: 10 * pagination.pageNumber <= users.length ? -10 : -(users.length % 10)">
			<td>{{user.id}}</td>
			<td class="text-center"><img class="avatar" ng-src="{{user.avatar}}"/></td>
			<td>{{user.username}}</td>
			<td>
				<div class="text-center gold bold">
					<i class="glyphicon glyphicon-star"></i>
					<span>{{user.reputation}}</span>
				</div>
			</td>
			<td class="text-center">
				<i class="fa fa-2x fa-check check" title="This user is an administrator" ng-if="user.usertype == 1"></i>
				<i class="fa fa-2x fa-times times" title="This user is not an administrator" ng-if="user.usertype !== 1"></i>
			</td>
			<td class="minimum-width text-right">
				<div class="btn-group">
					<button type="button" class="btn btn-sm btn-primary" ng-click="view(user)" title="View">&nbsp;<i class="fa fa-search"></i>&nbsp;</button>
					<button type="button" class="btn btn-sm btn-info" ng-click="edit(user)" title="Edit">&nbsp;<i class="fa fa-pencil"></i>&nbsp;</button>
					<button type="button" class="btn btn-sm btn-danger" ng-click="disable(user)" title="Disable">&nbsp;<i class="fa fa-times"></i>&nbsp;</button>
				</div>
			</td>
		</tr>
	</table>

	<div class="text-center">
		<ul class="pagination pagination-sm pagination-plain">
			<li ng-class="{disabled: pagination.pageNumber == 1}"><a href="#" ng-click="changePage(-1, true)">&laquo;</a></li>
			<li ng-repeat="i in range(users.length)" ng-class="{active: i == pagination.pageNumber}"><a href="#" ng-click="changePage(i)">{{i}}</a></li>
			<li ng-class="{disabled: pagination.pageNumber == totalPages(users.length)}"><a href="#" ng-click="changePage(1, true)">&raquo;</a></li>
		</ul>
	</div>

	<div id="admin-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<h4>{{modal.content.title}} {{modal.content.item.username}}</h4>
				<div ng-if="modal.content.type == 'view'">
					<div class="text-center">
						<img class="avatar-150" ng-src="{{modal.content.item.avatar}}"/>
					</div>
					<table class="table table-bordered table-hover table-striped">
						<tr>
							<th>#</th>
							<td>{{modal.content.item.id}}</td>
						</tr>
						<tr>
							<th>Username</th>
							<td>{{modal.content.item.username}}</td>
						</tr>
						<tr>
							<th>Reputation</th>
							<td>
							<div class="gold bold">
									<i class="glyphicon glyphicon-star"></i>
									<span>{{modal.content.item.reputation}}</span>
								</div>
							</td>
						</tr>
						<tr>
							<th>Admin?</th>
							<td>
								<i class="fa fa-lg fa-check check" title="This user is an administrator" ng-if="modal.content.item.usertype == 1"></i>
								<i class="fa fa-lg fa-times times" title="This user is not an administrator" ng-if="modal.content.item.usertype !== 1"></i>
							</td>
						</tr>
					</table>
					<div class="text-center">
						<button class="btn btn-primary text-center" ng-click="closeModal()">Okay</button>
					</div>
				</div>
				<div ng-if="modal.content.type == 'edit'">editing</div>
				<div ng-if="modal.content.type == 'disable'">disabling</div>
			</div>
		</div>
	</div>
</div>

