<div class="row spacing-top" id="about">
	<div class="col-xs-12 col-md-10 col-md-offset-1">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h3>DataPlay - explore data in a playful way</h3>
				<p>DataPlay is a data analysis and exploratory game application which has been designed around users who may not possess expertise in data analysis or data mining, yet still have a requirement to extract meaningful stories from granular data, in order to bring that raw data to life.</p>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-0"><img src="images/about1.png" /></div>
		</div>
		<div class="row spacing-top spacing-bottom">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<a href="/#!/user/login" class="btn btn-success btn-block">
					<h3>Get Started Now!</h3>
					<small>Click here to create an account for FREE!</small>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<h4>Visual Data Exploration</h4>
				<p>Because data is easier to understand when it's visualised, users are presented with a number of different ways to view different types of data, be they singular, automatically correlated by the system or discovered by other users. Users can then start to look for patterns and correlations as they begin to play with the data.</p>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0"><img src="images/about2.png" /></div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<h4>Pattern discovery</h4>
				<p>Users are encouraged and rewarded for discovering previously unobserved datasets and any patterns within them. Multiple users can then collaborate to add further meaning to discovered patterns, crediting or discrediting these discoveries, making observations, or searching for deeper connections - altering both their own reputation and the reputations of other users as they go.</p>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0"><img src="images/about3.png" /></div>
		</div>
	</div>
</div>
