<div class="hidden-xs hidden-sm hidden-md hidden-lg" id="observation-image" data-image="./images/observation.png"></div>

<div class="charts" ng-init="init()">
	<div class="row">
		<div class="col-xs-12 col-md-9">
			<ul class="breadcrumb">
				<li><a href="/home">Home</a></li>
				<li ng-if="params.id && info.source.prim"><a href="/overview/{{params.id}}">Overview of {{info.source.prim}}</a></li>
				<li ng-if="!params.id && false && info.source.prim"><a href="/overview/{{params.id}}">Overview of {{info.source.prim}}</a></li>
			</ul>
		</div>
	</div>

	<div class="row" ng-show="error">
		<div class="col-xs-12 col-md-9">
			<div class="alert alert-warning">
				<h4>There seems to be a problem...</h4>
				<p>{{error.message}}</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 constrict-graphs">
			<div class="action-bar">
				<a href="javascript:history.back()" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-share-alt glyphicon-flip"></span> Go Back</a>
			</div>

			<div>{{chart.title}}</div>

			<div ng-if="mode == 'related'" ng-switch="chart.type">
				<span ng-include="'views/charts/related/lineRanged.html'"></span>
				<span ng-include="'views/charts/related/row.html'"></span>
				<span ng-include="'views/charts/related/column.html'"></span>
				<span ng-include="'views/charts/related/pie.html'"></span>
				<span ng-include="'views/charts/related/bubble.html'"></span>
			</div>

			<div ng-if="mode == 'correlated'" ng-switch="chart.type">
				<span ng-include="'views/charts/correlated/line.html'"></span>
				<span ng-include="'views/charts/correlated/column.html'"></span>
				<span ng-include="'views/charts/correlated/scatter.html'"></span>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-3 info" ng-include="'views/charts/info.html'"></div>

		<div class="col-md-3 hidden-xs hidden-sm">
			<div class="observations sidebar" ng-include="'views/charts/observations.html'"></div>
		</div>

	</div>
</div>

<div id="comment-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<h4>Write an observation:</h4>
			<form name="observationForm" role="form" novalidate ng-submit="saveObservation()">
				<textarea ng-model="observation.message" ng-minLength="3" ng-required="true" id="comment-modal-usercomment" class="form-control"></textarea>
				<div class="comment-modal-buttons">
					<a class="btn btn-default" id="comment-modal-cancel" ng-click="clearObservation()">Cancel</a>
					<button type="submit" class="btn btn-primary" value="Save" title="Save" ng-disabled="!observationForm.$valid"><span>Save</span></button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="hoverfade-msg" ng-class="{true: 'show', false: ''}[approveMsg != null]" id="approve-message">
	<i class="glyphicon glyphicon-flag purple-flag"></i>
	<p ng-show="approveMsg == true">You approved this!</p>
	<p ng-show="approveMsg == false">You disapproved this!</p>
</div>
