<div id="landingpage" ng-init="init()">
	<div class="row" id="main">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 col-md-6 col-md-offset-3">
					<div class="row">
						<div class="col-xs-12">
							<img src="images/logo.png" class="logo" alt="DataPlay" />
							<p>Join 1000s of players in the quest to discover stories within open data.</p>
						</div>
					</div>

					<div class="row" id="stats">
						<div class="col-xs-12 col-sm-4">
							<div ng-if="stats.players">
								{{stats.players}}<br class="hidden-xs"/>
								people playing
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div ng-if="stats.discoveries">
								{{stats.discoveries}}<br class="hidden-xs"/>
								discoveries so far
							</div>
							<div ng-if="!stats.discoveries" ng-include="'views/loader.html'"></div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div ng-if="stats.datasets">
								{{stats.datasets}}<br class="hidden-xs"/>
								data sets added
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<p><a href="/user/login" class="btn btn-primary">Register Now</a></p>
							<p>It's Free!</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="row" id="graphs">

		<div class="row">
			<div class="col-xs-12"><h4>Top Rated Charts</h4></div>
		</div>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-3" ng-repeat="chart in chartsRelated | limitTo: 4">
				<span class="chtlabel chtlabel-x" ng-if="chart.labels.x">{{chart.labels.x}}</span>
				<span class="chtlabel chtlabel-y" ng-if="chart.labels.y">{{chart.labels.y}}</span>
				<span class="chtlabel chtlabel-y1" ng-if="chart.labels.y1">{{chart.labels.y1}}</span>
				<span class="chtlabel chtlabel-y2" ng-if="chart.labels.y2">{{chart.labels.y2}}</span>
				<div ng-if="!chart.info">
					<div class="chart-title">{{chart.title}}</div>
					<span ng-include="'views/charts/related/line.html'"></span>
					<span ng-include="'views/charts/related/row.html'"></span>
					<span ng-include="'views/charts/related/column.html'"></span>
					<span ng-include="'views/charts/related/pie.html'"></span>
					<span ng-include="'views/charts/related/bubble.html'"></span>
				</div>

				<div ng-if="chart.info">
					<div class="chart-title">{{chart.info.title[0]}} and {{chart.info.title[1]}}</div>
					<span ng-include="'views/charts/correlated/line.html'"></span>
					<span ng-include="'views/charts/correlated/column.html'"></span>
					<span ng-include="'views/charts/correlated/scatter.html'"></span>
				</div>
			</div>
		</div>
	</div>

	<div class="row" id="affiliates">
		<div class="col-xs-12">
			<img src="images/affiliates.png" />
		</div>
	</div>
</div>
