<div class="row" ng-init="init()">
	<div class="col-xs-12 col-md-9">
		<div class="row overviewscreen">
			<div class="col-xs-12 col-sm-4 section" ng-repeat="sect in mainSections | limitTo: 3">
				<h4 class="text-center">{{sect.title}}</h4>

				<div class="loading" ng-if="sect.items.length == 0 && !sect.error" ng-include="'views/loader.html'"></div>

				<div class="row sect-graph" ng-if="sect.graph.length > 0 && !sect.error && sect.type != 'map'">
					<!-- grpah here -->
					<div class="dc-chart chartSwitch pie"

						ng-if="sect.type == 'pie' && sect.graph.length > 0"

						dc-chart="pieChart"
						dc-width="150"
						dc-height="150"
						dc-margins="{{margin}}"
						dc-mouse-zoomable="false"
						dc-brush-on="false"
						dc-transition-duration="500"
						dc-colors="d3.scale.category20()"
						dc-render-label="false"
						dc-render-title="true"

						dc-post-setup-chart="renderPie(sect)"
 					></div>
				</div>
				<div class="alert alert-warning" ng-if="sect.error">
					<h5>Something went wrong</h5>
					<p>{{sect.error}}</p>
				</div>
				<div class="row sect-graph map text-center" id="regionMap" ng-if="sect.type == 'map'"></div>


				<div class="row list" ng-if="sect.items.length > 0 && !sect.error">
					<div class="row sect-header">
						<div class="col-xs-8"><small><strong>{{sect.colNameA}}</strong></small></div>
						<div class="col-xs-4"><small><strong>{{sect.colNameB}}</strong></small></div>
					</div>

					<div class="row li" ng-repeat="item in sect.items" ng-mouseover="highlight(true, sect.type, item)" ng-mouseleave="highlight(false, sect.type, item)">
						<div class="col-xs-8 label-container">
							<a class="label label-default"
								ng-if="sect.type == 'pie'"
								ng-attr-id="legend-{{item.id}}"
								ng-style="{'background-color': colourMap[item.id]}"

								data-toggle="tooltip"
								data-placement="bottom"
								data-html="true"
							>&nbsp;</a>
							<a class="label label-default" ng-style="{'background-color': item.color}" ng-if="sect.type == 'map'">&nbsp;</a>
							<small><strong><a class="li-term" ng-href="/search/{{item.term}}">{{item.term}}</a></strong></small>
						</div>
						<div class="col-xs-4">
							<span>
								<div class="dc-chart chartSwitch line"

									ng-attr-id="linegraph-{{item.id}}"

									dc-chart="lineChart"
									dc-width="60"
									dc-height="20"
									dc-margins="{{margin}}"
									dc-mouse-zoomable="false"
									dc-brush-on="false"
									dc-elastic-y="true"
									dc-transition-duration="500"
									dc-colors="d3.scale.category20()"
									dc-render-data-points="false"
									dc-render-area="true"

									dc-post-setup-chart="renderLine(item)"
								></div>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="pie-tooltip" class="tooltip top hidden">
		<!-- <div class="tooltip-arrow"></div> -->
		<div class="tooltip-inner"></div>
	</div>

	<div class="col-md-3 hidden-xs hidden-sm">
		<div class="sidebar">
			<div class="title">Overview</div>

			<div class="content">
				<div class="media" ng-repeat="sect in sidebarSections">
					<h5 class="list-header">{{sect.category}}</h5>
					<div class="row" ng-repeat="(key, item) in sect.top">
						<p class="item" ng-show="item.amount > 0">
							<a href="/{{sect.url}}/{{item.term}}">
								<span ng-class="labelClass(key)">{{item.amount}}</span>&nbsp;&nbsp;
								<span class="text-info">{{item.term}}</span>
							</a>
						</p>
					</div>
					<div class="nothing" ng-hide="sect.top.length > 0"><p class="text-center text-muted">Nothing to show</p></div>
				</div>

				<div class="nothing" ng-hide="sidebarSections.length > 0"><p class="text-center text-muted">Nothing to show</p></div>
			</div>
		</div>
	</div>
</div>
