<div class="overview" ng-init="info()">

	<div class="info row" ng-hide="error">
		<div class="col-xs-12">
			<h2>{{info.title}}</h2>
			<p>{{info.desc}}</p>
			<p class="text-muted"><small>Data sourced from <a ng-href="{{info.sourceurl}}">{{info.sourcename}}</a></small></p>
		</div>
	</div>

	<div class="info row" ng-show="error">
		<p></p>
		<div class="col-xs-12">
			<div class="alert alert-warning">
				<h4>There seems to be a problem...</h4>
				<p>{{error}}</p>
			</div>
		</div>
	</div>

	<!-- Related -->
	<div class="related" ng-hide="error" ng-controller="OverviewRelatedCtrl" ng-init="getRelatedCharts()" ng-include="'views/overview/related.html'"></div>

	<hr ng-hide="error" />

	<!-- Correlated -->
	<!-- <div class="row correlated" ng-hide="error" ng-controller="OverviewCorrelatedCtrl" ng-init="getCorrelatedCharts()" ng-include="'views/overview/correlated.html'"></div> -->
</div>

<!-- Smart Caching [allows to pre-load views] -->
<!-- Related Charts -->
<span ng-include="'views/charts/related/line.html'"></span>
<span ng-include="'views/charts/related/row.html'"></span>
<span ng-include="'views/charts/related/column.html'"></span>
<span ng-include="'views/charts/related/pie.html'"></span>
<span ng-include="'views/charts/related/bubble.html'"></span>
<!-- Correlated Charts -->
<span ng-include="'views/charts/correlated/line.html'"></span>
<span ng-include="'views/charts/correlated/column.html'"></span>
<span ng-include="'views/charts/correlated/scatter.html'"></span>
