<div class="row total-results" ng-init="init(true)">
	<span ng-class="{true: '', false: 'notvisible'}[totalResults > 0]">{{totalResults}} results found</span>
</div>

<div class="row searchpage">
	<div class="col-sm-9 col-xs-12">
		<div class="row">
			<!-- <form novalidate>
				<div class="form-group">
					<input class="form-control" type="search" placeholder="Enter your query here (e.g. gold)" ng-model="query" ng-change="init(true)">
				</div>
			</form> -->

			<form ng-submit="changePage()" novalidate>
				<div class="input-group">
					<input class="form-control" type="search" placeholder="Enter your query here (e.g. gold)" ng-model="query" />
					<span class="input-group-btn">
						<button type="submit" class="btn btn-primary">Search</button>
					</span>
				</div>
			</form>

			<div class="list-group search-results">
				<div class="row">
					<div class="list-group-item col-sm-4" ng-repeat="chart in chartsRelated" id="{{chart.id}}">
						<div class="media-heading">
							<h5><a href="/overview/{{chart.guid}}">{{chart.title}}</a></h5>
						</div>
						<a class="related media-body" href="/overview/{{chart.guid}}" ng-if="!chart.loading">
							<span ng-include="'views/charts/related/line.html'"></span>
							<span ng-include="'views/charts/related/row.html'"></span>
							<span ng-include="'views/charts/related/column.html'"></span>
							<span ng-include="'views/charts/related/pie.html'"></span>
							<span ng-include="'views/charts/related/bubble.html'"></span>
						</a>
						<div class="loader-tight loader-faded chart-loader" ng-if="chart.loading" ng-include="'views/loader.html'"></div>
					</div>
				</div>

				<div class="row" ng-if="loading.related">
					<div class="col-md-12 loader-tight" ng-show="loading.related" ng-include="'views/loader.html'"></div>
				</div>

				<div class="jumbotron" ng-if="!loading.related && results.length <= 0 && hasRelatedCharts() > 0 && isSearch">
					<p class="text-center">Sorry we are unable to find any search results for given request.</p>
				</div>

				<div class="row show-more" ng-click="showMore()" ng-if="!loading.related && results.length > 0 && hasRelatedCharts() > 0 && isSearch">
					<button class="col-md-6 col-md-offset-3 btn btn-default text-center">Show More</button>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col-xs-12" ng-if="loading.tweets || tweets.length > 0">
				<h4>Tweets</h4>
				<div class="row tweets" ng-repeat="tweet in tweets | limitTo: 10">
					<p class="tweet-header">
						<a ng-href="{{tweet.url}}" class="no-underline" target="_blank"><i class="fa fa-twitter twitter-blue"></i></a>
						<span><span class="tweet-author">{{tweet.name}}</span> (<a ng-href="https://twitter.com/{{tweet.username}}">@{{tweet.username}}</a>) <a ng-href="{{tweet.url}}" class="pull-right" target="_blank"><small><i class="fa fa-external-link"></i> View on Twitter</small></a></span>
						<div class="tweet-text" ng-bind-html="tweet.comment"></div>
					</p>
				</div>
				<div class="row">
					<div class="col-md-12 loader-tight" ng-if="loading.tweets" ng-include="'views/loader.html'"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3 hidden-xs hidden-sm">
		<div class="sidebar">
			<div class="title">Overview</div>

			<div class="content">
				<div class="media" ng-repeat="item in overview">
					<div class="row">
						<span class="text-muted"><small>{{item.date}}</small></span>
						<span class="pull-right collapsebtn" ng-if="item.show !== false" ng-click="collapse(item)"><small><i class="glyphicon glyphicon-minus-sign"></i></small></span>
						<span class="pull-right collapsebtn" ng-if="item.show === false" ng-click="uncollapse(item)"><small><i class="glyphicon glyphicon-plus-sign"></i></small></span>
					</div>

					<div class="row">
						<div class="media-body">
							<h5 class="media-heading"><a href="{{item.url}}" target="_blank">{{item.title}}</a></h5>
							<a ng-if="item.show !== false" href="{{item.url}}" target="_blank"><img class="thumbnail" ng-src="{{item.thumbnail}}" /></a>
						</div>
					</div>
				</div>
			</div>

			<div class="loader-tight loader-faded" ng-if="loading.overview" ng-include="'views/loader.html'"></div>
			<div class="nothing" ng-if="!loading.overview && overview.length <= 0 && isSearch"><p class="text-center text-muted">Nothing to show</p></div>

		</div>
	</div>
</div>
