<div class="action-bar">
	<button class="btn btn-success btn-sm" ng-click="creditChart(true)" ng-hide="info.credited"><span class="glyphicon glyphicon-ok"></span> Credit</button>
	<button class="btn btn-danger btn-sm" ng-click="creditChart(false)" ng-hide="info.discredited"><span class="glyphicon glyphicon-remove"></span> Discredit</button>
	<button class="btn btn-info btn-sm" ng-click="openAddObservationModal()"><span class="glyphicon glyphicon-comment"></span> Make observation</button>
</div>

<div class="row ci-row" ng-show="info.patternId">
	<div class="col-sm-6 ci-key">Pattern ID</div>
	<div class="col-sm-6 ci-val">{{info.patternId}}</div>
</div>
<div class="row ci-row" ng-show="info.discoverer">
	<div class="col-sm-6 ci-key">Discovered by</div>
	<div class="col-sm-6 ci-val">{{info.discoverer}}</div>
</div>
<div class="row ci-row" ng-show="info.discoverDate">
	<div class="col-sm-6 ci-key">Date discovered</div>
	<div class="col-sm-6 ci-val">{{info.discoverDate}}</div>
</div>
<div class="row ci-row" ng-show="info.creditors.length > 0">
	<div class="col-sm-6 ci-key">Credited by</div>
	<div class="col-sm-6 ci-val">
		<span class="csl" ng-repeat="crdtr in info.creditors">{{crdtr}}</span>
	</div>
</div>
<div class="row ci-row" ng-show="info.discreditors.length > 0">
	<div class="col-sm-6 ci-key">Discredited by</div>
	<div class="col-sm-6 ci-val">
		<span class="csl" ng-repeat="dscrdtr in info.discreditors">{{dscrdtr}}</span>
	</div>
</div>
<div class="row ci-row" ng-show="info.source.prim">
	<div class="col-sm-6 ci-key">Primary datasource</div>
	<div class="col-sm-6 ci-val">{{info.source.prim}}</div>
</div>
<div class="row ci-row" ng-show="info.source.seco">
	<div class="col-sm-6 ci-key">Secondary datasource</div>
	<div class="col-sm-6 ci-val">{{info.source.seco}}</div>
</div>
<div class="row ci-row" ng-show="info.strength">
	<div class="col-sm-6 ci-key">Statistical strength</div>
	<div class="col-sm-6 ci-val">{{info.strength}}</div>
</div>
<div class="row ci-row">
	<div class="col-sm-6 ci-key">Observations</div>
	<div class="col-sm-6 ci-val">{{userObservations.length}}</div>
</div>
